[submodule "legacy/NOCOS_DMI"]
	path = legacy/NOCOS_DMI
	url = https://github.com/dmidk/NOCOS.git
[submodule "legacy/NOCOS_DMI_ridfork"]
	path = legacy/NOCOS_DMI_ridfork
	url = https://github.com/iljamal/NOCOS_rid.git
[submodule "legacy/HiDEM"]
	path = legacy/HiDEM
	url = https://github.com/joeatodd/HiDEM
[submodule "lib/polytope-examples"]
	path = lib/polytope-examples
	url = https://github.com/destination-earth-digital-twins/polytope-examples
[submodule "lib/DESP-UserWorkflowService-Templates"]
	path = lib/DESP-UserWorkflowService-Templates
	url = https://github.com/SercoSPA/DESP-UserWorkflowService-Templates
[submodule "usecases/ridging/offshoreIceTrack/LOPI"]
	path = usecases/ridging/offshoreIceTrack/LOPI
	url = https://github.com/iljamal/LOPI
